In [3]:
import pandas as pd

In [4]:
df1=pd.read_csv('tmdb_reviews_dataset2.csv') 
df2=pd.read_csv('tmdb_clean_english_reviews.csv') 
df=pd.read_csv('IMDB Dataset.csv')

In [5]:
df1.head()

,movie_id,author,review,rating,movie_title
0,8452,John Chard,If you really believe that then you should clo...,6.5,The 6th Day
1,8452,Gimly,_The 6th Day_ is a **great** title for a movie...,6.0,The 6th Day
2,17578,ohlalipop,The animation was something else. It looked so...,10.0,The Adventures of Tintin
3,17578,lmao7,Wow…they just took cg/motion/performance captu...,9.0,The Adventures of Tintin
4,351460,.,_Death Note_ - _★★★★_\r\n\r\nWhile different f...,8.0,Death Note

In [7]:
df1=df1.drop(['movie_id','author','movie_title'],axis=1)

In [8]:
df2.head(5)

,movie_id,movie_title,author,review,rating
0,950387,A Minecraft Movie,tmdb98094809,"Alright, buckle up, because I just saw a movie...",10.0
1,950387,A Minecraft Movie,CinemaSerf,Who doesn’t like a white woolly llama? Well th...,6.0
2,950387,A Minecraft Movie,CinemaSerf,Who doesn’t like a white woolly llama? Well th...,6.0
3,950387,A Minecraft Movie,Jm_15,Chickey Jockey is so fun to watch. I love it s...,NaN
4,574475,Final Destination Bloodlines,CinemaSerf,Imagine if your room-mate kept getting recurri...,7.0

In [9]:
df2=df2.drop(['movie_id','movie_title','author'],axis=1)

In [10]:
df3=pd.concat([df1,df2])

In [11]:
df3=df3.drop_duplicates()

In [12]:
df3.shape

(17234, 2)

In [14]:
df3.to_csv("combined_scrap_data.csv")